* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: gradient 10s ease infinite;
}

.nav {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  width: 55vh;
  position: fixed;
  background-color: #333;
  border-radius: 6px;
  justify-content: space-evenly;
  z-index: 1;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  list-style-type: none;
  margin: 0 5vw;
  font-size: 2.5vh;
  text-align: ;
}

a {
  text-decoration: none;
  color: white;
  padding: 2vw;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 145vh;
  position: relative;
  top:60px;
}
.card {
  position: relative;
  background: #333;
  width: 50vh;
  height: 115vh;
  border-radius: 6px;
  padding: 20px;
  color: #aaa;
  overflow: hidden;
}
.secondary-card {
  position: relative;
  background: #333;
  width: 50vh;
  height: 45vh;
  border-radius: 6px;
  color: #aaa;
  position: relative;
  top: 10px;
}
.third-card{
  position: relative;
  background: #333;
  width: 50vh;
  height: 45vh;
  border-radius: 6px;
  color: #aaa;
  position: relative;
  top: 20px;
}
.card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}

.card__title {
  color: white;
  margin-top: 2rem;
  font-weight: 800;
  letter-spacing: 0.01em;
  position: relative;
}

.card__content {
  margin-top: -1rem;
  position: relative;
}

.card__svg {
  position: absolute;
  left: 0;
  top: 110px;
}

a[href^="tel:"]::before,
a[href^="tel:"] {
  content: "\260e";
  margin-right: 0.5em;
  color: tomato;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 440px), (max-height: 590px) {
  nav {
    width: 42vh;
  }
  .card {
    width: 39vh;
    height: 54vh;
  }
  .card__image-container {
    margin: -2rem -2rem 1rem -2rem;
  }

  .card__title {
    font-size: medium;
    position: relative;
  }

  .card__content {
    position: relative;
    font-size: small;
  }

  .card__svg {
    top: 70px;
  }
}
